:root {
    --pr: #83c441;
    --txt: #003023;
    --br: #f6fef9;
    --hover-bg: #83c441;
    --btn-hover: #005f2f;
    --hover-txt: #ffffff;
}


.navbar {
    position: sticky;
    top: 0;
    z-index: 1;
}

.mission {
    width: 100%;
    height: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.052), rgba(0, 0, 0, 0.052)), url('../imagens/download\ \(2\).jfif') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.contain {
    width: 650px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.799);
    color: white;
    /* max-width: 1200px; */
    padding: 30px;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .mission {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .contain {
        width: 100%;
        height: auto;
        background-color: rgba(0, 0, 0, 0.799);
        color: white;
        /* max-width: 1200px; */
        padding: 20px;
        box-sizing: border-box;
    }

    .mission h1 {
        font-size: 24px;
    }

    .mission p {
        font-size: 16px;
    }
    
}

/* contacto */

.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;

    width: 100%;
    height: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.574), rgba(0, 0, 0, 0.574)), url('../imagens/sd\ \(11\).jpeg') no-repeat center center;
    background-size: cover;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.contact .ab {
    width: 400px;
    text-align: left;
    color: white;
}

.contact .ab h2, p {
    color: white;
}

.contact .ab h2 {
    color: #d9edc6;
}

form {
    background-color: white;
    padding: 20px;
    border: 1px solid gainsboro;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.032);
    width: 450px;
    max-width: 90%;
}


/* empresas */

.empresas {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    gap: 20px;
    width: 100%;

    width: 100%;
    height: auto;
    background-size: cover;
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid gainsboro;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.032);
}

.empresas .ab {
    width: 400px;
    color: rgb(0, 0, 0);
}

.empresas .template {
    width: 500px;
    max-width: 98%;
}

/* whatsApp */

 .whatsapp-float {
      position: fixed;
      width: 60px;
      height: 60px;
      bottom: 30px;
      right: 30px;
      background-color: #25d366;
      color: #fff;
      border-radius: 50%;
      text-align: center;
      font-size: 2.2rem;
      box-shadow: 0 4px 12px rgba(0,0,0,0.2);
      z-index: 9999;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background 0.2s;
    }
    .whatsapp-float:hover {
      background: #128c7e;
      color: #fff;
      text-decoration: none;
    }
